         <div class="container ">
           
            <div class="row">
               <div class="col-md-9 m-top18"   >
                  <h2 class="font-bold"> Latest Complaints </h2>
                  <div class=" m-top21 font-light font-18">
                     <!-- header class=" tab-bg-dark-navy-blue m-top18 ">
                        <ul class="nav nav-tabs">
                           <li class="active">
                              <a  href="#home">Recent Questions</a>
                           </li>
                           <li class="">
                              <a  href="https://fantasy.iplt20.com/tournament">most_responses</a>
                           </li>
                           <li class="">
                              <a  href="#profile">Recently Answered</a>
                           </li>
                           <li class="">
                              <a data-toggle="tab" href="#contact">No answers</a>
                           </li>
                        </ul>
                     </header> -->
                     <div class="tab-content">
                        <div id="home" class="tab-pane active">
                           <div class="complaint-box m-top18">
                              <div class="row">
                                 <div class="col-md-12">
                                    <h3  class="font-regular "> <a href="complaint-page.html"> Samsung India — misguided by ditributor and also the service engineer of samsung company. </a> </h3>
                                    <p class=" font-14 ">  <a href="user-profile.html"> Ramu S </a>   Mar 1, 2018 
                                       <span data-original-title="Verified Company" data-content="Country Club India Customer Care Service available " data-placement="top" data-trigger="hover" class="fa fa-check color-white pull-right green-round popovers  "></span> 
                                    </p>
                                    <div class="gray-boarder m-top25"> </div>
                                    <p class="font16 "> My name is shaikh tanveer and i was badly screwed from hr manpreet and shradda even they played with my emotion ...
                                       They called me for interview and not took anything they degraded me as i am graduate and done iata ...
                                       I was badly screwed by them and left with nothing i always wish to take my revenge on them i will not leave with this insult and i want... 
                                    </p>
                                    <div class="gray-boarder m-top25"> </div>
                                    <div class="row color-green font-14 ">
                                       <div class="col-md-4"> 
                                          <a href="#"> <i class="fa fa-comments"></i> Read comments  </a>
                                       </div>
                                       <div class="col-md-4" align="center"> 
                                          <a href="#"> <i class="fa fa-globe"></i> India  </a>
                                       </div>
                                       <div class="col-md-4" align="right"> 
                                          <a href="#"> <i class="fa fa-sticky-note"></i> Airlines  </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="complaint-box m-top18">
                              <div class="row">
                                 <div class="col-md-12">
                                    <h3  class="font-regular "> <a href="complaint-page.html"> Samsung India — misguided by ditributor and also the service engineer of samsung company. </a> </h3>
                                    <p class=" font-14 ">  <a href="user-profile.html"> Ramu S </a>   Mar 1, 2018 
                                       <span data-original-title="Verified Company" data-content="Country Club India Customer Care Service available " data-placement="top" data-trigger="hover" class="fa fa-check color-white pull-right green-round popovers  "></span> 
                                    </p>
                                    <div class="gray-boarder m-top25"> </div>
                                    <p class="font16 "> My name is shaikh tanveer and i was badly screwed from hr manpreet and shradda even they played with my emotion ...
                                       They called me for interview and not took anything they degraded me as i am graduate and done iata ...
                                       I was badly screwed by them and left with nothing i always wish to take my revenge on them i will not leave with this insult and i want... 
                                    </p>
                                    <div class="gray-boarder m-top25"> </div>
                                    <div class="row color-green font-14 ">
                                       <div class="col-md-4"> 
                                          <a href="#"> <i class="fa fa-comments"></i> Read comments  </a>
                                       </div>
                                       <div class="col-md-4" align="center"> 
                                          <a href="#"> <i class="fa fa-globe"></i> India  </a>
                                       </div>
                                       <div class="col-md-4" align="right"> 
                                          <a href="#"> <i class="fa fa-sticky-note"></i> Airlines  </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="complaint-box m-top18">
                              <div class="row">
                                 <div class="col-md-12">
                                    <h3  class="font-regular "> <a href="complaint-page.html"> Samsung India — misguided by ditributor and also the service engineer of samsung company. </a> </h3>
                                    <p class=" font-14 ">  <a href="user-profile.html"> Ramu S </a>   Mar 1, 2018 
                                       <span data-original-title="Verified Company" data-content="Country Club India Customer Care Service available " data-placement="top" data-trigger="hover" class="fa fa-check color-white pull-right green-round popovers  "></span> 
                                    </p>
                                    <div class="gray-boarder m-top25"> </div>
                                    <p class="font16 "> My name is shaikh tanveer and i was badly screwed from hr manpreet and shradda even they played with my emotion ...
                                       They called me for interview and not took anything they degraded me as i am graduate and done iata ...
                                       I was badly screwed by them and left with nothing i always wish to take my revenge on them i will not leave with this insult and i want... 
                                    </p>
                                    <div class="gray-boarder m-top25"> </div>
                                    <div class="row color-green font-14 ">
                                       <div class="col-md-4"> 
                                          <a href="#"> <i class="fa fa-comments"></i> Read comments  </a>
                                       </div>
                                       <div class="col-md-4" align="center"> 
                                          <a href="#"> <i class="fa fa-globe"></i> India  </a>
                                       </div>
                                       <div class="col-md-4" align="right"> 
                                          <a href="#"> <i class="fa fa-sticky-note"></i> Airlines  </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div id="about" class="tab-pane">
                           <div class="complaint-box m-top18">
                              <div class="row">
                                 <div class="col-md-12">
                                    <h3  class="font-regular "> <a href="complaint-page.html"> Samsung India — misguided by ditributor and also the service engineer of samsung company. </a> </h3>
                                    <p class=" font-14 ">  <a href="user-profile.html"> Ramu S </a>   Mar 1, 2018 
                                       <span data-original-title="Verified Company" data-content="Country Club India Customer Care Service available " data-placement="top" data-trigger="hover" class="fa fa-check color-white pull-right green-round popovers  "></span> 
                                    </p>
                                    <div class="gray-boarder m-top25"> </div>
                                    <p class="font16 "> My name is shaikh tanveer and i was badly screwed from hr manpreet and shradda even they played with my emotion ...
                                       They called me for interview and not took anything they degraded me as i am graduate and done iata ...
                                       I was badly screwed by them and left with nothing i always wish to take my revenge on them i will not leave with this insult and i want... 
                                    </p>
                                    <div class="gray-boarder m-top25"> </div>
                                    <div class="row color-green font-14 ">
                                       <div class="col-md-4"> 
                                          <a href="#"> <i class="fa fa-comments"></i> Read comments  </a>
                                       </div>
                                       <div class="col-md-4" align="center"> 
                                          <a href="#"> <i class="fa fa-globe"></i> India  </a>
                                       </div>
                                       <div class="col-md-4" align="right"> 
                                          <a href="#"> <i class="fa fa-sticky-note"></i> Airlines  </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div id="profile" class="tab-pane">
                           <div class="complaint-box m-top18">
                              <div class="row">
                                 <div class="col-md-12">
                                    <h3  class="font-regular "> <a href="complaint-page.html"> Samsung India — misguided by ditributor and also the service engineer of samsung company. </a> </h3>
                                    <p class=" font-14 ">  <a href="user-profile.html"> Ramu S </a>   Mar 1, 2018 
                                       <span data-original-title="Verified Company" data-content="Country Club India Customer Care Service available " data-placement="top" data-trigger="hover" class="fa fa-check color-white pull-right green-round popovers  "></span> 
                                    </p>
                                    <div class="gray-boarder m-top25"> </div>
                                    <p class="font16 "> My name is shaikh tanveer and i was badly screwed from hr manpreet and shradda even they played with my emotion ...
                                       They called me for interview and not took anything they degraded me as i am graduate and done iata ...
                                       I was badly screwed by them and left with nothing i always wish to take my revenge on them i will not leave with this insult and i want... 
                                    </p>
                                    <div class="gray-boarder m-top25"> </div>
                                    <div class="row color-green font-14 ">
                                       <div class="col-md-4"> 
                                          <a href="#"> <i class="fa fa-comments"></i> Read comments  </a>
                                       </div>
                                       <div class="col-md-4" align="center"> 
                                          <a href="#"> <i class="fa fa-globe"></i> India  </a>
                                       </div>
                                       <div class="col-md-4" align="right"> 
                                          <a href="#"> <i class="fa fa-sticky-note"></i> Airlines  </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div id="contact" class="tab-pane">
                           <div class="complaint-box m-top18">
                              <div class="row">
                                 <div class="col-md-12">
                                    <h3  class="font-regular "> <a href="complaint-page.html"> Samsung India — misguided by ditributor and also the service engineer of samsung company. </a> </h3>
                                    <p class=" font-14 ">  <a href="user-profile.html"> Ramu S </a>   Mar 1, 2018 
                                       <span data-original-title="Verified Company" data-content="Country Club India Customer Care Service available " data-placement="top" data-trigger="hover" class="fa fa-check color-white pull-right green-round popovers  "></span> 
                                    </p>
                                    <div class="gray-boarder m-top25"> </div>
                                    <p class="font16 "> My name is shaikh tanveer and i was badly screwed from hr manpreet and shradda even they played with my emotion ...
                                       They called me for interview and not took anything they degraded me as i am graduate and done iata ...
                                       I was badly screwed by them and left with nothing i always wish to take my revenge on them i will not leave with this insult and i want... 
                                    </p>
                                    <div class="gray-boarder m-top25"> </div>
                                    <div class="row color-green font-14 ">
                                       <div class="col-md-4"> 
                                          <a href="#"> <i class="fa fa-comments"></i> Read comments  </a>
                                       </div>
                                       <div class="col-md-4" align="center"> 
                                          <a href="#"> <i class="fa fa-globe"></i> India  </a>
                                       </div>
                                       <div class="col-md-4" align="right"> 
                                          <a href="#"> <i class="fa fa-sticky-note"></i> Airlines  </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <ul class="pagination pull-right">
                        <li class="page-item "><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="fb-box m-top92">
                     <div id="fb-root "></div>
                     <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
                        fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                     </script>
                     <div class="fb-like  " data-href="https://www.facebook.com/Gayle-The-Predator-744687735572131/" data-layout="button_count" 
                        data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                  </div>
                  <div class="twitter-box m-top10">
                     <a href="https://twitter.com/henrygayle?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @henrygayle</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </div>
                  <div class="g-pluse m-top10" style="padding-top:14px;">
                     <!-- Place this tag in your head or just before your close body tag. -->
                     <script src="https://apis.google.com/js/platform.js" async defer></script>
                     <!-- Place this tag where you want the widget to render. -->
                     <div  class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/0/107981003118080061247" data-rel="publisher"></div>
                  </div>
                  <div class="formbox">
                     <h4 class="font-bold"> Featured Complaints  </h4>
                     <div class="complaint-img ">
                        <img src="img/1200px-Channel_1_Israel_DSC0021.jpg" alt="Norway" style="width:100%;"  />
                        <div class="centered font-bold ">Hi, i want to unsubscribe this service. i unknowingly </div>
                     </div>
                     <div class="complaint-img ">
                        <img src="img/1200px-Channel_1_Israel_DSC0021.jpg" alt="Norway" style="width:100%;"  />
                        <div class="centered font-bold ">Hi, i want to unsubscribe this service. i unknowingly </div>
                     </div>
                  </div>
                  <div class="formbox">
                     <h4 class="font-bold"> Recently Discussed  </h4>
                     <p class="font-light gray-color"> (1 minutes ago) </p>
                     <a class="color-green" href="#">  Ziwra </a>
                     <p class="font-light">  wrong product delivered.. not able to return it.  </p>
                     <div class="gray-boarder">  </div>
                     <p class="font-light gray-color"> (5 minutes ago) </p>
                     <a class="color-green" href="#">  Home Credit India Finance </a>
                     <p class="font-light">  home credit c. no 3801125387 disbursed amount has not credited </p>
                     <div class="gray-boarder">  </div>
                  </div>
               </div>
            </div>
         </div>
      </div>