 <div class="content-wrapper footer-menu">
         <div class="container ">
            <div class="row">
                
              <div class="col-md-12 color-green">
                  <h4>Compliants by Categories</h4>
                  <ul class="foot-category">
                      <li class="col-lg-3 col-md-3 col-sm-12">
                         <ul>
                            <li class="foot-header">Business & Finances</li>
                            <li><a href="#"> Banks</a></li>
                            <li><a href="#"> Loans</a></li>
                            <li><a href="#">Tax Services</a></li>
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Stock Market</a></li>
                            <li><a href="#"> Credit Cards</a></li>
                            <li class="divider"></li>
                            <li class="foot-header">Cars, Parts & Vehicles</li>
                            <li><a href="#"> Banks</a></li>
                            <li><a href="#"> Loans</a></li>
                            <li><a href="#">Tax Services</a></li>
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Stock Market</a></li>
                            <li><a href="#"> Credit Cards</a></li>
                            <li class="divider"></li>
                         </ul>
                      </li>
                      <li class="col-lg-3 col-md-3 col-sm-12">
                         <ul>
                            <li class="foot-header">Computers & Accessories</li>
                            <li><a href="#">Auto Carousel</a></li>
                            <li><a href="#"> Banks</a></li>
                            <li><a href="#"> Loans</a></li>
                            <li><a href="#">Tax Services</a></li>
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Stock Market</a></li>
                            <li><a href="#"> Credit Cards</a></li>
                            <li class="divider"></li>
                            <li class="foot-header">Cars, Parts & Vehicles</li>
                            <li><a href="#"> Banks</a></li>
                            <li><a href="#"> Loans</a></li>
                            <li><a href="#">Tax Services</a></li>
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Stock Market</a></li>
                            <li><a href="#"> Credit Cards</a></li>
                            <li class="divider"></li>
                         </ul>
                      </li>
                      <li class="col-lg-3 col-md-3 col-sm-12">
                         <ul>
                            <li class="foot-header">Plus</li>
                            <li><a href="#">Navbar Inverse</a></li>
                            <li><a href="#">Pull Right Elements</a></li>
                            <li><a href="#">Coloured Headers</a></li>
                            <li><a href="#">Primary Buttons & Default</a></li>
                            <li class="divider"></li>
                         </ul>
                      </li>
                      <li class="col-lg-3 col-md-3 col-sm-12">
                         <ul>
                            <li class="foot-header">Much more</li>
                            <li><a href="#">Easy to Customize</a></li>
                            <li><a href="#">Calls to action</a></li>
                            <li><a href="#">Custom Fonts</a></li>
                            <li><a href="#">Slide down on Hover</a></li>
                            <li class="divider"></li>
                         </ul>
                      </li>
                      <li class="col-lg-3 col-md-3 col-sm-12">
                          <ul>
                             <li class="foot-header">Business & Finances</li>
                             <li><a href="#"> Banks</a></li>
                             <li><a href="#"> Loans</a></li>
                             <li><a href="#">Tax Services</a></li>
                             <li><a href="#">Insurance</a></li>
                             <li><a href="#">Stock Market</a></li>
                             <li><a href="#"> Credit Cards</a></li>
                             <li class="divider"></li>
                          </ul>
                       </li>
                       <li class="col-lg-3 col-md-3 col-sm-12">
                          <ul>
                             <li class="foot-header">Computers & Accessories</li>
                             <li><a href="#">Auto Carousel</a></li>
                             <li><a href="#"> Banks</a></li>
                             <li><a href="#"> Loans</a></li>
                             <li><a href="#">Tax Services</a></li>
                             <li><a href="#">Insurance</a></li>
                             <li><a href="#">Stock Market</a></li>
                             <li><a href="#"> Credit Cards</a></li>
                             <li class="divider"></li>
                          </ul>
                       </li>
                   </ul>
              </div>
              <div class="col-md-12 color-green">
                  <h4>Compliants by City/State</h4>
                  <ul class="foot-category">
                      <li class="col-lg-3 col-md-3 col-sm-12">
                         <ul>
                            <li class="foot-header">Business & Finances</li>
                            <li><a href="#"> Banks</a></li>
                            <li><a href="#"> Loans</a></li>
                            <li><a href="#">Tax Services</a></li>
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Stock Market</a></li>
                            <li><a href="#"> Credit Cards</a></li>
                            <li class="divider"></li>
                            <li class="foot-header">Cars, Parts & Vehicles</li>
                            <li><a href="#"> Banks</a></li>
                            <li><a href="#"> Loans</a></li>
                            <li><a href="#">Tax Services</a></li>
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Stock Market</a></li>
                            <li><a href="#"> Credit Cards</a></li>
                            <li class="divider"></li>
                         </ul>
                      </li>
                      <li class="col-lg-3 col-md-3 col-sm-12">
                         <ul>
                            <li class="foot-header">Computers & Accessories</li>
                            <li><a href="#">Auto Carousel</a></li>
                            <li><a href="#"> Banks</a></li>
                            <li><a href="#"> Loans</a></li>
                            <li><a href="#">Tax Services</a></li>
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Stock Market</a></li>
                            <li><a href="#"> Credit Cards</a></li>
                            <li class="divider"></li>
                            <li class="foot-header">Cars, Parts & Vehicles</li>
                            <li><a href="#"> Banks</a></li>
                            <li><a href="#"> Loans</a></li>
                            <li><a href="#">Tax Services</a></li>
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Stock Market</a></li>
                            <li><a href="#"> Credit Cards</a></li>
                            <li class="divider"></li>
                         </ul>
                      </li>
                      <li class="col-lg-3 col-md-3 col-sm-12">
                         <ul>
                            <li class="foot-header">Plus</li>
                            <li><a href="#">Navbar Inverse</a></li>
                            <li><a href="#">Pull Right Elements</a></li>
                            <li><a href="#">Coloured Headers</a></li>
                            <li><a href="#">Primary Buttons & Default</a></li>
                            <li class="divider"></li>
                         </ul>
                      </li>
                      <li class="col-lg-3 col-md-3 col-sm-12">
                         <ul>
                            <li class="foot-header">Much more</li>
                            <li><a href="#">Easy to Customize</a></li>
                            <li><a href="#">Calls to action</a></li>
                            <li><a href="#">Custom Fonts</a></li>
                            <li><a href="#">Slide down on Hover</a></li>
                            <li class="divider"></li>
                         </ul>
                      </li>
                      <li class="col-lg-3 col-md-3 col-sm-12">
                          <ul>
                             <li class="foot-header">Business & Finances</li>
                             <li><a href="#"> Banks</a></li>
                             <li><a href="#"> Loans</a></li>
                             <li><a href="#">Tax Services</a></li>
                             <li><a href="#">Insurance</a></li>
                             <li><a href="#">Stock Market</a></li>
                             <li><a href="#"> Credit Cards</a></li>
                             <li class="divider"></li>
                          </ul>
                       </li>
                       <li class="col-lg-3 col-md-3 col-sm-12">
                          <ul>
                             <li class="foot-header">Computers & Accessories</li>
                             <li><a href="#">Auto Carousel</a></li>
                             <li><a href="#"> Banks</a></li>
                             <li><a href="#"> Loans</a></li>
                             <li><a href="#">Tax Services</a></li>
                             <li><a href="#">Insurance</a></li>
                             <li><a href="#">Stock Market</a></li>
                             <li><a href="#"> Credit Cards</a></li>
                             <li class="divider"></li>
                          </ul>
                       </li>
                   </ul>
              </div>
               <div class="offset-1 col-md-10 color-green ">
                  <a  class="color-green" href="#"> Consumer Complaints </a> &nbsp; | &nbsp; <a class="color-green"  href="#"> Submit Complaint</a> &nbsp; | &nbsp; <a class="color-green"  href="#"> Sitemap</a> &nbsp; | &nbsp;  <a class="color-green"  href="#">View full list of Companies</a> &nbsp; |  &nbsp; <a class="color-green"  href="#">Latest Complaints</a> &nbsp;|&nbsp;  <a class="color-green"  href="#">Updated Complaints</a> &nbsp;|&nbsp;  <a class="color-green"  href="#">Terms of Use</a> &nbsp;|&nbsp;  <a class="color-green"  href="#">Privacy Policy</a> &nbsp;|&nbsp;  <a class="color-green" href="#">Google+</a>
               </div>
            </div>
         </div>
      </div>
      <div class="footer" align="center">
         <p> © 2018 <a href="#" class="color-black"> Domain name </a> 
         <p>
         <p> If you have an inquiry, or any constructive thoughts, creative ideas, and reasonable offers, please,  <a href="#" class="color-black"> contact us </a> 
         <p>
      </div>
   </body>


   <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-body content-wrapper">
               <button type="button" class="close m-right-10" data-dismiss="modal">&times;</button>
               <div class="clearfix"> </div>
               <div class="container">
                  <h2 class="font-bold bold">  Sign In </h2>
                  <form>
                     <div class="form-group m-top25">
                        <input class="form-control input-lg input-radius-none" placeholder="Username or Email" id="inputlg" type="text">
                     </div>
                     <div class="form-group">
                        <input class="form-control input-lg input-radius-none" placeholder="Password" id="inputlg" type="password">
                     </div>
                     <div class="checkbox indent-0">
                        <label>
                        <input type="checkbox" checked value="">
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        <span class="font-bold"> REMEMBER ME </span>
                        <span class="font-regular pull-right">  Forgot <a href="forgot.html" class="color-green"> username </a> or <a href="forgot.html" class="color-green"> password?  </a> </span>
                        </label>
                     </div>
                     <input type="submit" class="btn popup-signin-button font-light input-radius-none" value="Sign In" data-reactid="615">
                  </form>
               </div>
               <div class="bg-white indent-10">
                  <h2 class="color-black font-bold bold"> Not a member?  </br> <span class="color-green"> <a href="user-registration.html"> Join today </a> </span> </h2>
                  <h4 class="font-regular"> <span class="bold"> Need further assistance? </span> Please call Customer Care at 1-800-333-0663   </h4>
                  <div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>