
{% extends 'layout.twig' %}

{% block body %}

    


	  <div class="content-wrapper">
	  <div class="container ">
          <div class="row">


		   <div class="col-md-9 "   >

		   <div class="row formbox">



		 <div class="col-md-12">

		   <div class="fill">   <h3 class="font-bold"> Redbus — transaction failed but money not refunded  </h3>  </div>




				<div class="fill">
			 <span class="fa fa-star starchecked"></span>
<span class="fa fa-star starchecked"></span>
<span class="fa fa-star starchecked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>

    </div>





			  <button class="btn green-button  m-top15   ">   <i class="fa fa-mouse-pointer"></i>   Submit a Complaint  </button>
			<a href="#"  data-toggle="modal" data-target="#myModal2">    <button class="btn btn-warning   m-top15 pull-right" >   <i class="fa fa-edit"></i>    Edit Redbus Information   </button> </a>
		   </div>



			  <div class="col-md-3">



			 </div>

		   </div>


			<h2 class="font-bold"> Bharather Shipping & Allied Services Complaints & Reviews </h2>

			<div class=" m-top21 font-light font-18">


			   <div class="complaint-box m-top18">
			   <div class="row">

			  <div class="col-md-12">
					<h3  class="font-regular "> <a href="complaint-page.html"> Samsung India — misguided by ditributor and also the service engineer of samsung company. </a> </h3>

					<p class=" font-14 ">  <a href="user-profile.html"> Ramu S </a>   Mar 1, 2018
					<span data-original-title="Verified Company" data-content="Country Club India Customer Care Service available " data-placement="top" data-trigger="hover" class="fa fa-check color-white pull-right green-round popovers  "></span>
					</p>
					<div class="gray-boarder m-top25"> </div>
					<p class="font16 "> My name is shaikh tanveer and i was badly screwed from hr manpreet and shradda even they played with my emotion ...
					They called me for interview and not took anything they degraded me as i am graduate and done iata ...
					I was badly screwed by them and left with nothing i always wish to take my revenge on them i will not leave with this insult and i want... </p>

					<div class="gray-boarder m-top25"> </div>

					<div class="row color-green font-14 ">
					 <div class="col-md-4">
					<a href="#"> <i class="fa fa-comments"></i> Read comments  </a>
					</div>

					<div class="col-md-4" align="center">
					<a href="#"> <i class="fa fa-globe"></i> India  </a>
					</div>

					<div class="col-md-4" align="right">
					<a href="#"> <i class="fa fa-sticky-note"></i> Airlines  </a>
					</div>


					</div>

                </div>
				  </div>

			  </div>


				  <div class="complaint-box m-top18">
			   <div class="row">

			  <div class="col-md-12">
					<h3  class="font-regular "> <a href="complaint-page.html"> Samsung India — misguided by ditributor and also the service engineer of samsung company. </a> </h3>

					<p class=" font-14 ">  <a href="user-profile.html"> Ramu S </a>   Mar 1, 2018
					<span data-original-title="Verified Company" data-content="Country Club India Customer Care Service available " data-placement="top" data-trigger="hover" class="fa fa-check color-white pull-right green-round popovers  "></span>
					</p>
					<div class="gray-boarder m-top25"> </div>
					<p class="font16 "> My name is shaikh tanveer and i was badly screwed from hr manpreet and shradda even they played with my emotion ...
					They called me for interview and not took anything they degraded me as i am graduate and done iata ...
					I was badly screwed by them and left with nothing i always wish to take my revenge on them i will not leave with this insult and i want... </p>

					<div class="gray-boarder m-top25"> </div>

					<div class="row color-green font-14 ">
					 <div class="col-md-4">
					<a href="#"> <i class="fa fa-comments"></i> Read comments  </a>
					</div>

					<div class="col-md-4" align="center">
					<a href="#"> <i class="fa fa-globe"></i> India  </a>
					</div>

					<div class="col-md-4" align="right">
					<a href="#"> <i class="fa fa-sticky-note"></i> Airlines  </a>
					</div>


					</div>

                </div>
				  </div>

			  </div>


				  <div class="complaint-box m-top18">
			   <div class="row">

			  <div class="col-md-12">
					<h3  class="font-regular "> <a href="complaint-page.html"> Samsung India — misguided by ditributor and also the service engineer of samsung company. </a> </h3>

					<p class=" font-14 ">  <a href="user-profile.html"> Ramu S </a>   Mar 1, 2018
					<span data-original-title="Verified Company" data-content="Country Club India Customer Care Service available " data-placement="top" data-trigger="hover" class="fa fa-check color-white pull-right green-round popovers  "></span>
					</p>
					<div class="gray-boarder m-top25"> </div>
					<p class="font16 "> My name is shaikh tanveer and i was badly screwed from hr manpreet and shradda even they played with my emotion ...
					They called me for interview and not took anything they degraded me as i am graduate and done iata ...
					I was badly screwed by them and left with nothing i always wish to take my revenge on them i will not leave with this insult and i want... </p>

					<div class="gray-boarder m-top25"> </div>

					<div class="row color-green font-14 ">
					 <div class="col-md-4">
					<a href="#"> <i class="fa fa-comments"></i> Read comments  </a>
					</div>

					<div class="col-md-4" align="center">
					<a href="#"> <i class="fa fa-globe"></i> India  </a>
					</div>

					<div class="col-md-4" align="right">
					<a href="#"> <i class="fa fa-sticky-note"></i> Airlines  </a>
					</div>


					</div>

                </div>
				  </div>

			  </div>


				  <div class="complaint-box m-top18">
			   <div class="row">

			  <div class="col-md-12">
					<h3  class="font-regular "> <a href="complaint-page.html"> Samsung India — misguided by ditributor and also the service engineer of samsung company. </a> </h3>

					<p class=" font-14 ">  <a href="user-profile.html"> Ramu S </a>   Mar 1, 2018
					<span data-original-title="Verified Company" data-content="Country Club India Customer Care Service available " data-placement="top" data-trigger="hover" class="fa fa-check color-white pull-right green-round popovers  "></span>
					</p>
					<div class="gray-boarder m-top25"> </div>
					<p class="font16 "> My name is shaikh tanveer and i was badly screwed from hr manpreet and shradda even they played with my emotion ...
					They called me for interview and not took anything they degraded me as i am graduate and done iata ...
					I was badly screwed by them and left with nothing i always wish to take my revenge on them i will not leave with this insult and i want... </p>

					<div class="gray-boarder m-top25"> </div>

					<div class="row color-green font-14 ">
					 <div class="col-md-4">
					<a href="#"> <i class="fa fa-comments"></i> Read comments  </a>
					</div>

					<div class="col-md-4" align="center">
					<a href="#"> <i class="fa fa-globe"></i> India  </a>
					</div>

					<div class="col-md-4" align="right">
					<a href="#"> <i class="fa fa-sticky-note"></i> Airlines  </a>
					</div>


					</div>

                </div>
				  </div>

			  </div>


				<ul class="pagination pull-right">
  <li class="page-item "><a class="page-link" href="#">Previous</a></li>
  <li class="page-item active"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>



            </div>


           </div>


		 <div class="col-md-3">









		  <div class="formbox">


		  <div align="center " class="m-top18"> <img src="/images/thumb.png" />
			  <h4 class="font-bold ">    	Red Bus Customer Care Service </h4> </div>

			  <div  class="progress-bar position m-left15" data-percent="70" data-duration="1000" data-color="#26343C,#51B156">   </div>
			  <div class="clearfix"> </div>


			<div class="alert alert-danger fade in m-top110 tag-margin">

                                <strong>Complaints</strong>  <span class="pull-right" > 2 </span>

                            </div>

							<div class="alert alert-warning fade in tag-margin">

                                <strong>Pending</strong>  <span class="pull-right" > 1 </span>

                            </div>

							<div class="alert alert-success fade in tag-margin">

                                <strong>Resolved</strong>  <span class="pull-right" > 1 </span>

                            </div>


				<div class="error-message1  color-white" align="center">
                <i class="fa fa-headphones font-28"></i>
				<div class="clearfix"> </div>
				So far so good - The company responded to our notifications and is working on resolving complaints.  </div>





		  </div>


		  <div class="formbox">
		  <h4 class="font-bold"> Recently Discussed  </h4>
		  <p class="font-light gray-color"> (1 minutes ago) </p>
		  <a class="color-green" href="#">  Ziwra </a>
		  <p class="font-light">  wrong product delivered.. not able to return it.  </p>
		  <div class="gray-boarder">  </div>


		  <p class="font-light gray-color"> (5 minutes ago) </p>
		  <a class="color-green" href="#">  Home Credit India Finance </a>
		  <p class="font-light">  home credit c. no 3801125387 disbursed amount has not credited </p>
		  <div class="gray-boarder">  </div>


		  </div>



		 </div>


		  </div>
		   </div>
		   </div>



	   

<script>
export default {
  data () {
    return {
      placements: [
        'topright', 'top', 'topleft',
        'bottomright', 'bottom', 'bottomleft',
        'righttop', 'right', 'lefttop',
        'rightbottom', 'left', 'leftbottom'
      ]
    }
  }
}
</script>

<script>
		$(".progress-bar").loading();
		$('input').on('click', function () {
			 $(".progress-bar").loading();
		});

		$(".progress-bar1").loading();
		$('input').on('click', function () {
			 $(".progress-bar1").loading();
		});

	</script>
        
         <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


 {% endblock %}



  


  
   
		


